.form-check.form-check-inline
  label.form-check-label
    input#inlineRadio1.form-check-input(type='radio', name='inlineRadioOptions', value='option1')
    |  1
.form-check.form-check-inline
  label.form-check-label
    input#inlineRadio2.form-check-input(type='radio', name='inlineRadioOptions', value='option2')
    |  2
.form-check.form-check-inline.disabled
  label.form-check-label
    input#inlineRadio3.form-check-input(type='radio', name='inlineRadioOptions', value='option3', disabled='')
    |  3
