label(for='inputPassword5') Password
input#inputPassword5.form-control(type='password', aria-describedby='passwordHelpBlock')
p#passwordHelpBlock.form-text.text-muted
  | Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
