form.form-inline
  .form-group
    label(for='inputPassword4') Password
    input#inputPassword4.form-control.mx-sm-3(type='password', aria-describedby='passwordHelpInline')
    small#passwordHelpInline.text-muted
      | Must be 8-20 characters long.
