.container
  form
    .form-group.row.has-success
      label.col-sm-2.col-form-label(for='inputHorizontalSuccess') Email
      .col-sm-10
        input#inputHorizontalSuccess.form-control.form-control-success(type='email', placeholder='name@example.com')
        .form-control-feedback Success! You've done it.
        small.form-text.text-muted Example help text that remains unchanged.
    .form-group.row.has-warning
      label.col-sm-2.col-form-label(for='inputHorizontalWarning') Email
      .col-sm-10
        input#inputHorizontalWarning.form-control.form-control-warning(type='email', placeholder='name@example.com')
        .form-control-feedback Shucks, check the formatting of that and try again.
        small.form-text.text-muted Example help text that remains unchanged.
    .form-group.row.has-danger
      label.col-sm-2.col-form-label(for='inputHorizontalDnger') Email
      .col-sm-10
        input#inputHorizontalDnger.form-control.form-control-danger(type='email', placeholder='name@example.com')
        .form-control-feedback Sorry, that username's taken. Try another?
        small.form-text.text-muted Example help text that remains unchanged.
