label.custom-control.custom-radio
  input#radio1.custom-control-input(name='radio', type='radio')
  span.custom-control-indicator
  span.custom-control-description Toggle this custom radio
label.custom-control.custom-radio
  input#radio2.custom-control-input(name='radio', type='radio')
  span.custom-control-indicator
  span.custom-control-description Or toggle this other custom radio
