.row.align-items-start
  .col.with-border
    include user.pug
.row.align-items-start
  .col.with-border
    include 1.pug
  .col.with-border
    include 2.pug
.row.align-items-start
  .col.with-border
    include 3.pug
  .col.with-border
    include 4.pug
.row.align-items-start
  .col.with-border
    include 5.pug
  .col.with-border
    include 6.pug
.row.align-items-start
  .col.with-border
    include 7.pug
  .col.with-border
    include 8.pug
.row.align-items-start
  .col.with-border
    include 9.pug
  .col.with-border
    include 10.pug
.row.align-items-start
  .col.with-border
    include 11.pug
  .col.with-border
    include 12.pug
.row.align-items-start
  .col.with-border
    include 13.pug
  .col.with-border
    include 14.pug
.row.align-items-start
  .col.with-border
    include 15.pug
  .col.with-border
    include 16.pug
.row.align-items-start
  .col.with-border
    include 17.pug
  .col.with-border
    include 18.pug
.row.align-items-start
  .col.with-border
    include 19.pug
  .col.with-border
    include 20.pug
.row.align-items-start
  .col.with-border
    include 21.pug
  .col.with-border
    include 22.pug
.row.align-items-start
  .col.with-border
    include 23.pug
  .col.with-border
    include 24.pug
.row.align-items-start
  .col.with-border
    include 25.pug
  .col.with-border
    include 26.pug
.row.align-items-start
  .col.with-border
    include 27.pug
  .col.with-border
    include 28.pug
.row.align-items-start
  .col.with-border
    include 29.pug
  .col.with-border
    include 30.pug
.row.align-items-start
  .col.with-border
    include 31.pug
  .col.with-border
    include 32.pug
