#accordion.mt-3(role='tablist')
  .card.with-border
    #headingOne.card-header.card-outline-primary(role='tab')
      .mb-0
        | {{selectitem}}
        = fa[menuitem]
        a.fa.fa-fw.fa-caret-down(data-toggle='collapse', data-parent='#accordion', href=`#${menuitem}`, aria-expanded='true', aria-controls=`${menuitem}`)
    .collapse(role='tabpanel', aria-labelledby='headingOne', id= `${menuitem}`)
      .card-block(ng-controller=`${menuitem}Controller`, ng-init="query()", style="font-family: Yekan; direction: rtl; max-height: 200px; overflow-x:hidden; overflow-y: auto")
        div(ng-repeat='item in data')
          a(href='#!report', ng-click='selectitem(item.id)', ng-if='filter(item)')
            i.fa.fa-check(ng-show='selecteditem===item.id')
            span.badge.badge-pill.badge-info.mx-1
              | {{item.code || item.account}}
            | {{item.caption  || item.fname + ' ' + item.lname}}
