.row.align-items-start
  .col
  .col-9
    .alert.alert-info.alert-dismissable
        button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
        i.fa.fa-info-circle
        strong پیام آزمایشی:
        a.alert-link(href='http://github.com/Dana-Laboratory/PIReporter') PI Reporter
        | یک نرم افزار آزاد جهت کمک به تهیه گزارشات مدیریت میباشد.
- var n = 0
- var cn = ['1d 12h 30min', '1d 12h 30min', '1d 12h 30min', '1d 12h 30min']
- var tx = ['New Comments!', 'New Tasks!', 'Users', 'Support Tickets!']
- var n = 0
- var fc = ['fa-comments', 'fa-line-chart', 'fa-user-o', 'fa-support']
- var pc = ['card-primary', 'card-info', 'card-success', 'card-warning']
.row.align-items-start.mb-3
  while n < 4
    include forms/panelex.pug
- var n = 0
- var pc = ['card-primary', 'card-info', 'card-success', 'card-warning']
- var cn = [26, 10, 112, 1]
- var tx = ['New Comments!', 'PIs', 'Users', 'Support Tickets!']
- var fc = ['fa-comments', 'fa-line-chart', 'fa-user-o', 'fa-support']
.row.align-items-start.mb-3
  while n < 4
    include forms/panel.pug
div(ng-controller="selectController")
  .row.align-items-start.mb-3
    .col
      each menuitem in ['User', 'ReportClass', 'VariableCat_1', 'VariableCat_2', 'VariableCat_3', 'vVariableDef']
        include forms/selectmenu.pug
    .col-9
      each menuitem in ['User', 'ReportClass', 'VariableCat_1', 'VariableCat_2', 'VariableCat_3', 'vVariableDef']
        include forms/filtered/filtered-card.pug
.row.align-items-start
  .col.with-border
  .col-9
    include forms/openreport.pug
script.
  $(function () {
    $('[data-toggle="tooltip"]').tooltip({
      trigger : 'hover'      
    })
  })
