doctype html
include langs.pug
html(ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title SB Admin - Bootstrap Admin Template
    // Angular
    script(src='bower_components/angular/angular.min.js')
    script(src='grid.js')
    // ui-grid
    script(src='bower_components/angular-ui-grid/ui-grid.min.js')
    // ui-grid css
    link(href='bower_components/angular-ui-grid/ui-grid.min.css', rel='stylesheet')
    // Bootstrap Core CSS
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Bootstrap Core CSS RTL
    link(href='bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/sb-admin.css', rel='stylesheet')
    link(href='css/sb-admin-rtl.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='css/plugins/morris.css', rel='stylesheet')
    link(rel='stylesheet', href='site.css')
    // Custom Fonts
    link(href='bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')= fa['title']
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-envelope
              b.caret
            ul.dropdown-menu.message-dropdown
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong John Smith
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong John Smith
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong John Smith
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-footer
                a(href='#') Read All New Messages
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-bell
              b.caret
            ul.dropdown-menu.alert-dropdown
              li
                a(href='#')
                  | Alert Name
                  span.label.label-default Alert Badge
              li
                a(href='#')
                  | Alert Name
                  span.label.label-primary Alert Badge
              li
                a(href='#')
                  | Alert Name
                  span.label.label-success Alert Badge
              li
                a(href='#')
                  | Alert Name
                  span.label.label-info Alert Badge
              li
                a(href='#')
                  | Alert Name
                  span.label.label-warning Alert Badge
              li
                a(href='#')
                  | Alert Name
                  span.label.label-danger Alert Badge
              li.divider
              li
                a(href='#') View All
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  John Smith
              b.caret
            ul.dropdown-menu
              li
                a(href='#')
                  i.fa.fa-fw.fa-user
                  |  Profile
              li
                a(href='#')
                  i.fa.fa-fw.fa-envelope
                  |  Inbox
              li
                a(href='#')
                  i.fa.fa-fw.fa-gear
                  |  Settings
              li.divider
              li
                a(href='#')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard
            li
              a(href='charts.html')
                i.fa.fa-fw.fa-bar-chart-o
                |  Charts
            li
              a(href='tables.html')
                i.fa.fa-fw.fa-table
                |  Tables
            li
              a(href='forms.html')
                i.fa.fa-fw.fa-edit
                |  Forms
            li
              a(href='bootstrap-elements.html')
                i.fa.fa-fw.fa-desktop
                |  Bootstrap Elements
            li
              a(href='bootstrap-grid.html')
                i.fa.fa-fw.fa-wrench
                |  Bootstrap Grid
            li
              a(href='javascript:;', data-toggle='collapse', data-target='#demo')
                i.fa.fa-fw.fa-arrows-v
                |  Dropdown
                i.fa.fa-fw.fa-caret-down
              ul#demo.collapse
                li
                  a(href='#') Dropdown Item
                li
                  a(href='#') Dropdown Item
            li
              a(href='blank-page.html')
                i.fa.fa-fw.fa-file
                |  Blank Page
            li.active
              a(href='index-rtl.html')
                i.fa.fa-fw.fa-dashboard
                |  RTL Dashboard
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Dashboard
                small Statistics Overview
              ol.breadcrumb
                li.active
                  i.fa.fa-dashboard
                  |  Dashboard
          // /.row
          .row
            .col-lg-12
              .alert.alert-info.alert-dismissable
                button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                i.fa.fa-info-circle
                strong Like SB Admin?
                |  Try out
                a.alert-link(href='http://startbootstrap.com/template-overviews/sb-admin-2') SB Admin 2
                |  for additional features!
          // /.row
          - var n = 0
          - var cn = ['1d 12h 30min', '1d 12h 30min', '1d 12h 30min', '1d 12h 30min']
          - var tx = ['New Comments!', 'New Tasks!', 'New Orders!', 'Support Tickets!']
          .row
            include panels/openreport.pug
          - var n = 0
          - var fc = ['fa-comments', 'fa-tasks', 'fa-shopping-cart', 'fa-support']
          - var pc = ['panel-primary', 'panel-green', 'panel-yellow', 'panel-red']
          .row
            while n < 4
              include panels/panelex.pug
          - var n = 0
          - var pc = ['panel-primary', 'panel-green', 'panel-yellow', 'panel-red']
          - var cn = [26, 10, 112, 1]
          - var tx = ['New Comments!', 'New Tasks!', 'New Orders!', 'Support Tickets!']
          - var fc = ['fa-comments', 'fa-tasks', 'fa-shopping-cart', 'fa-support']
          .row
            while n < 4
              include panels/panel.pug
          // /.row
          .row
            .col-lg-12
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    i.fa.fa-bar-chart-o.fa-fw
                    |  Area Chart
                .panel-body
                  #morris-area-chart
          // /.row
          .row
            .col-lg-4
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    i.fa.fa-long-arrow-right.fa-fw
                    |  Donut Chart
                .panel-body
                  #morris-donut-chart
                  .text-right
                    a(href='#')
                      | View Details
                      i.fa.fa-arrow-circle-right
            .col-lg-4
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    i.fa.fa-clock-o.fa-fw
                    |  Tasks Panel
                .panel-body
                  .list-group
                    a.list-group-item(href='#')
                      span.badge just now
                      i.fa.fa-fw.fa-calendar
                      |  Calendar updated
                    a.list-group-item(href='#')
                      span.badge 4 minutes ago
                      i.fa.fa-fw.fa-comment
                      |  Commented on a post
                    a.list-group-item(href='#')
                      span.badge 23 minutes ago
                      i.fa.fa-fw.fa-truck
                      |  Order 392 shipped
                    a.list-group-item(href='#')
                      span.badge 46 minutes ago
                      i.fa.fa-fw.fa-money
                      |  Invoice 653 has been paid
                    a.list-group-item(href='#')
                      span.badge 1 hour ago
                      i.fa.fa-fw.fa-user
                      |  A new user has been added
                    a.list-group-item(href='#')
                      span.badge 2 hours ago
                      i.fa.fa-fw.fa-check
                      |  Completed task: "pick up dry cleaning"
                    a.list-group-item(href='#')
                      span.badge yesterday
                      i.fa.fa-fw.fa-globe
                      |  Saved the world
                    a.list-group-item(href='#')
                      span.badge two days ago
                      i.fa.fa-fw.fa-check
                      |  Completed task: "fix error on sales page"
                  .text-right
                    a(href='#')
                      | View All Activity
                      i.fa.fa-arrow-circle-right
            .col-lg-4
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    i.fa.fa-money.fa-fw
                    |  Transactions Panel
                .panel-body
                  .table-responsive
                    table.table.table-bordered.table-hover.table-striped
                      thead
                        tr
                          th Order #
                          th Order Date
                          th Order Time
                          th Amount (USD)
                      tbody
                        tr
                          td 3326
                          td 10/21/2013
                          td 3:29 PM
                          td $321.33
                        tr
                          td 3325
                          td 10/21/2013
                          td 3:20 PM
                          td $234.34
                        tr
                          td 3324
                          td 10/21/2013
                          td 3:03 PM
                          td $724.17
                        tr
                          td 3323
                          td 10/21/2013
                          td 3:00 PM
                          td $23.71
                        tr
                          td 3322
                          td 10/21/2013
                          td 2:49 PM
                          td $8345.23
                        tr
                          td 3321
                          td 10/21/2013
                          td 2:23 PM
                          td $245.12
                        tr
                          td 3320
                          td 10/21/2013
                          td 2:15 PM
                          td $5663.54
                        tr
                          td 3319
                          td 10/21/2013
                          td 2:13 PM
                          td $943.45
                  .text-right
                    a(href='#')
                      | View All Transactions
                      i.fa.fa-arrow-circle-right
          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Morris Charts JavaScript
    script(src='js/plugins/morris/raphael.min.js')
    script(src='js/plugins/morris/morris.min.js')
    script(src='js/plugins/morris/morris-data.js')
