- var fa = {}
- fa['View Details'] = 'بررسی ...'
- fa['New Comments!'] = 'پیام جدید'
- fa['New Tasks!'] = 'دستور جدید'
- fa['New Orders!'] = 'درخواست جدید'
- fa['Support Tickets!'] = 'گزارش جدید'
- fa['title'] = 'سیستم تحلیل گزارشات مدیریت'
- fa['report title'] = 'عنوان گزارش'
- fa['time left'] = 'زمان باقی مانده'
- fa['open report'] = 'گزارش باز میباشد'
- fa['PI'] = 'شاخص'
- fa['PI registered'] = 'شاخص های گزارش'
- fa['PI entered'] = 'دستاورد های ثبت شده'
- fa['PI real'] = 'دستاورد'
- fa['from'] = 'از'
- fa['report progress'] = 'پیشرفت گزارش'
- fa['user progress'] = 'وضعیت کاربر'
- fa['config'] = 'تنظیمات'
- fa['Edit Time'] = 'زمان ویرایش'
- fa['Upper Limit'] = 'حد بالا'
- fa['Lower Limit'] = 'حد پایین'
- fa['Unit'] = 'واحد'
- fa['Attach'] = 'پیوست'
- fa['Dashboard'] = 'داشبورد'
- fa['Statistics Overview'] = 'آمار کلی'
- fa['Reports Archive'] = 'بایگانی گزارشات'
- fa['Design'] = 'طراحی'
- fa['Categories'] = 'طبقه بندی شاخص ها'
- fa['PIs'] = 'شاخص ها'
- fa['Reports'] = 'گزارشات'
- fa['Users'] = 'تنظیمات کاربران'
- fa['Inbox'] = 'صندوق دریافتی'
- fa['Log Out'] = 'خروج'
- fa['Settings'] = 'تنظیمات'
- fa['Sample User'] = 'حامد روحانی'
- fa['Alert Name'] = 'پیام'
- fa['Alert Default'] = 'عادی'
- fa['Alert Primary'] = 'جدی'
- fa['Alert Success'] = 'موفق'
- fa['Alert Info'] = 'اطلاع'
- fa['Alert Warning'] = 'هشدار'
- fa['Alert Danger'] = 'اخطار'
- fa['View All'] = 'نمایش همه'
- fa['result 1'] = 'یک شاخص'
- fa['result 2'] = 'یک گزارش'
- fa['result 3'] = 'یک طبقه'
- fa['result 4'] = 'یک پیام'
- fa['result 5'] = 'یک کاربر'
