- var fa = {}
- fa['View Details'] = 'بررسی ...'
- fa['New Comments!'] = 'پیام جدید'
- fa['New Tasks!'] = 'دستور جدید'
- fa['New Orders!'] = 'درخواست جدید'
- fa['Support Tickets!'] = 'گزارش جدید'
- fa['title'] = 'سیستم تحلیل گزارشات مدیریت'
- fa['report title'] = 'عنوان گزارش'
- fa['time left'] = 'زمان باقی مانده'
- fa['open report'] = 'گزارش باز میباشد'
- fa['PI'] = 'شاخص'
- fa['PI registered'] = 'شاخص های گزارش'
- fa['PI entered'] = 'دستاورد های ثبت شده'
- fa['PI real'] = 'دستاورد'
- fa['from'] = 'از'
- fa['report progress'] = 'پیشرفت گزارش'
- fa['user progress'] = 'وضعیت کاربر'
- fa['config'] = 'تنظیمات'
