- var fa = {}
- fa['View Details'] = 'بررسی ...'
- fa['New Comments!'] = 'پیام جدید'
- fa['New Tasks!'] = 'دستور جدید'
- fa['New Orders!'] = 'درخواست جدید'
- fa['Support Tickets!'] = 'گزارش جدید'
- fa['title'] = 'سیستم تحلیل گزارشات مدیریت'
