// Page Heading
.row
  .col-md-11
    h1.page-header
      .col-md-1
        .thumbnail
          img(src='/images/logo.png')
      = fa['dashboard']
      span.small= fa['statistics overview']
    ol.breadcrumb
      li.active
        i.fa.fa-desktop
        = fa['dashboard']
// /.row
.row
  .alert.alert-info.alert-dismissable
      button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
      i.fa.fa-info-circle
      strong پیام آزمایشی:
      a.alert-link(href='http://github.com/Dana-Laboratory/PIReporter') PI Reporter
      | یک نرم افزار آزاد جهت کمک به تهیه گزارشات مدیریت میباشد.
// /.row
- var n = 0
- var cn = ['1d 12h 30min', '1d 12h 30min', '1d 12h 30min', '1d 12h 30min']
- var tx = ['New Comments!', 'New Tasks!', 'Users', 'Support Tickets!']
- var n = 0
- var fc = ['fa-comments', 'fa-line-chart', 'fa-user-o', 'fa-support']
- var pc = ['panel-primary', 'panel-green', 'panel-yellow', 'panel-red']
.row
  while n < 4
    include panels/panelex.pug
- var n = 0
- var pc = ['panel-primary', 'panel-green', 'panel-yellow', 'panel-red']
- var cn = [26, 10, 112, 1]
- var tx = ['New Comments!', 'PIs', 'Users', 'Support Tickets!']
- var fc = ['fa-comments', 'fa-line-chart', 'fa-user-o', 'fa-support']
.row
  while n < 4
    include panels/panel.pug
// /.row
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        h3.panel-title
          i.fa.fa-bar-chart-o.fa-fw
          |  Area Chart
      .panel-body
        #morris-area-chart
// /.row
.row
  .col-lg-6
    include panels/ta.pug
  .col-lg-6
    include panels/tr.pug
// /.row
