ul.nav.navbar-nav.side-nav
  li
    a(href='/')
      i.fa.fa-fw.fa-desktop
      =  fa['dashboard']
    hr(style = "margin:0")
  - var menuitem = 'Fuzzy'
  li
    .col-md-12
      .input-group
        input(type="text", class="form-control", placeholder=`${fa["Search"]} ....`)
        span.input-group-btn
          button.btn.btn-default(data-toggle='collapse', data-target=`#${menuitem}`)= fa['go!']
  include ./panels/results.pug
  li
    hr(style = "margin:0")
    a(href='#')
      i.fa.fa-fw.fa-archive
      =  fa['reports archive']
    hr(style = "margin:0")
  li
    a(href='javascript:;', data-toggle='collapse', data-target='#DesignConfigurations')
      i.fa.fa-fw.fa-wrench
      = fa['design & configurations']
      i.fa.fa-fw.fa-caret-down
    ul#DesignConfigurations.collapse
      - var menuitem = 'reports'
      include ./panels/resultsmenuitem.pug
      - var menuitem = 'variables'
      include ./panels/resultsmenuitem.pug
      - var menuitem = 'categories'
      include ./panels/resultsmenuitem.pug
  li
    hr(style = "margin:0")
    a(href='#')
      i.fa.fa-fw.fa-users
      = fa['user config']
