.col-lg-3.col-md-6
  .panel(class= pc[n])
    .panel-heading
      .row
        .col-xs-7.text-right
          .huge= cn[n]
          div= fa[tx[n]]
        .col-xs-5.text-left
          i.fa.fa-5x(class= fc[n++])
    a(href='#')
      .panel-footer
        span.pull-right= fa['View Details']
        span.pull-left
          i.fa.fa-arrow-circle-left
        .clearfix
