ul.collapse(searchresult search-query=`${menuitem}` id= `${menuitem}`)
  .col-md-12
     pre.small(style="font-weight:bold; height:110px")
       div(ng-repeat=`result in results.${menuitem}`)
         a(href='#!report')
           | {{result.text}}
         br
