
body{
  font-family: Tanha;
  background-color: #252830;
}
.with-border{
    color: #cfd2da;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.2);
    border: 2px solid rgba(86,61,124,.9);
}

.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
.navbar-inverse .navbar-nav .btn-outline-secondary:hover {
    color: rgba(0,0,0,0.9);
}
.navbar-inverse .navbar-nav .btn-outline-secondary:focus {
  box-shadow: 0 0 0 2px rgba(2,117,216,.7);
}
button, input, optgroup, select, textarea {
  font-family: Yekan;
}
.report {
  font-family: Yekan;
}
.badge {
  font-family: Sahel;
  color: black;
}
