if menuitem === 'VariableCat_1'
  include filtered-block-VariableCat_1.pug
else if menuitem === 'VariableCat_2'
  include filtered-block-VariableCat_2.pug
else if menuitem === 'VariableCat_3'
  include filtered-block-VariableCat_3.pug
else if menuitem === 'ReportClass'
  include filtered-block-ReportClass.pug
else if menuitem === 'vVariableDef'
  include filtered-block-VariableDef.pug
else if menuitem === 'User'
  include filtered-block-User.pug
