.card-header.card-primary
  .row
    .col-2
      span.badge.badge-warning.pull-right(ng-show='newitem')= fa['new']
      span.badge.badge-warning.pull-right(ng-show='changed')= fa['need update']
    .col-8.text-center= fa[menuitem]['header']
      b
        | : {{item.caption}}{{item.account}}
    .col-2.text-left
      button.close.fa.fa-close.fa-fw(type='button', ng-click='close()')
      button.close.fa.fa-window-restore.fa-fw(ng-hide='!hide', href='', ng-click='hide=false')
      button.close.fa.fa-window-minimize.fa-fw(ng-hide='hide', href='', ng-click='hide=true')
