// Site app
script(src='/js/langs/index.js')
script(src='/js/angular-app.js')
script(src='/js/config/router-config.js')
script(src='/js/config/charts-config.js')
script(src='/js/controller/pi-controller.js')
script(src='/js/controller/pi-doughnut-controller.js')
script(src='/js/controller/report-controller.js')
script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
// Reference chart.js angular-chart
script(src='/bower_components/chart.js/dist/Chart.min.js')
script(src='/bower_components/angular-chart.js/dist/angular-chart.min.js')
// ui-grid
script(src='/bower_components/angular-ui-grid/ui-grid.min.js')
// ui-grid css
link(href='/bower_components/angular-ui-grid/ui-grid.min.css', rel='stylesheet')
// ngResource
script(src='/bower_components/angular-resource/angular-resource.js')
