.form-check
  label.form-check-label
    input#blankCheckbox.form-check-input(type='checkbox', value='option1', aria-label='...')
.form-check
  label.form-check-label
    input#blankRadio1.form-check-input(type='radio', name='blankRadio', value='option1', aria-label='...')
