form
  .form-group.row
    label.col-sm-2.col-form-label Email
    .col-sm-10
      p.form-control-static email@example.com
  .form-group.row
    label.col-sm-2.col-form-label(for='inputPassword') Password
    .col-sm-10
      input#inputPassword.form-control(type='password', placeholder='Password')
