form.form-inline
  .form-group
    label.sr-only Email
    p.form-control-static email@example.com
  .form-group.mx-sm-3
    label.sr-only(for='inputPassword2') Password
    input#inputPassword2.form-control(type='password', placeholder='Password')
  button.btn.btn-primary(type='submit') Confirm identity
