form
  fieldset(disabled='')
    .form-group
      label(for='disabledTextInput') Disabled input
      input#disabledTextInput.form-control(type='text', placeholder='Disabled input')
    .form-group
      label(for='disabledSelect') Disabled select menu
      select#disabledSelect.form-control
        option Disabled select
    .checkbox
      label
        input(type='checkbox')
        |  Can't check this
    button.btn.btn-primary(type='submit') Submit
