.row
  .col-2
    input.form-control(type='text', placeholder='.col-2')
  .col-3
    input.form-control(type='text', placeholder='.col-3')
  .col-4
    input.form-control(type='text', placeholder='.col-4')
