.form-check.has-success
  label.form-check-label
    input#checkboxSuccess.form-check-input(type='checkbox', value='option1')
    |     Checkbox with success
.form-check.has-warning
  label.form-check-label
    input#checkboxWarning.form-check-input(type='checkbox', value='option1')
    |     Checkbox with warning
.form-check.has-danger
  label.form-check-label
    input#checkboxDanger.form-check-input(type='checkbox', value='option1')
    |     Checkbox with danger
