label.custom-control.custom-checkbox
  input.custom-control-input(type='checkbox', disabled='')
  span.custom-control-indicator
  span.custom-control-description Check this custom checkbox
label.custom-control.custom-radio
  input#radio3.custom-control-input(name='radioDisabled', type='radio', disabled='')
  span.custom-control-indicator
  span.custom-control-description Toggle this custom radio
