.form-group.has-success
  label.custom-control.custom-checkbox
    input.custom-control-input(type='checkbox')
    span.custom-control-indicator
    span.custom-control-description Check this custom checkbox
.form-group.has-warning
  label.custom-control.custom-checkbox
    input.custom-control-input(type='checkbox')
    span.custom-control-indicator
    span.custom-control-description Check this custom checkbox
.form-group.has-danger.mb-0
  label.custom-control.custom-checkbox
    input.custom-control-input(type='checkbox')
    span.custom-control-indicator
    span.custom-control-description Check this custom checkbox
