.custom-controls-stacked
  label.custom-control.custom-radio
    input#radioStacked1.custom-control-input(name='radio-stacked', type='radio')
    span.custom-control-indicator
    span.custom-control-description Toggle this custom radio
  label.custom-control.custom-radio
    input#radioStacked2.custom-control-input(name='radio-stacked', type='radio')
    span.custom-control-indicator
    span.custom-control-description Or toggle this other custom radio
