doctype html
html(ng-app='PIR')
  head
    include head-common.pug
  body
    .container
      .row.align-items-start  
        .col
          include 1.pug
        .col
          include 2.pug
      .row.align-items-start
        .col
          include 3.pug
        .col
          include 4.pug
      .row.align-items-start
        .col
          include 5.pug
        .col
          include 6.pug
      .row.align-items-start
        .col
          include 7.pug
        .col
          include 8.pug
      .row.align-items-start
        .col
          include 9.pug
        .col
          include 10.pug
      .row.align-items-start
        .col
          include 11.pug
        .col
          include 12.pug
      .row.align-items-start
        .col
          include 13.pug
        .col
          include 14.pug
      .row.align-items-start
        .col
          include 15.pug
        .col
          include 16.pug
      .row.align-items-start
        .col
          include 17.pug
        .col
          include 18.pug
      .row.align-items-start
        .col
          include 19.pug
        .col
          include 20.pug
      .row.align-items-start
        .col
          include 21.pug
        .col
          include 22.pug
      .row.align-items-start
        .col
          include 23.pug
        .col
          include 24.pug
      .row.align-items-start
        .col
          include 25.pug
        .col
          include 26.pug
      .row.align-items-start
        .col
          include 27.pug
        .col
          include 28.pug
      .row.align-items-start
        .col
          include 29.pug
        .col
          include 30.pug
      .row.align-items-start
        .col
          include 31.pug
        .col
          include 32.pug
