ul.nav.nav-tabs
  li.nav-item
    a.nav-link.active(href='#' data-toggle="tab") Active
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
    .dropdown-menu
      a.dropdown-item(href='#') Action
      a.dropdown-item(href='#') Another action
      a.dropdown-item(href='#') Something else here
      .dropdown-divider
      a.dropdown-item(href='#') Separated link
  li.nav-item
    a.nav-link(href='#' data-toggle="tab") Link
  li.nav-item
    a.nav-link.disabled(href='#') Disabled
