@font-face {
    font-family: WWDigital;
    src: url('/fonts/wwDigital.ttf') format('truetype');
}
@font-face {
    font-family: Yekan;
    src: url('/fonts/BYekan+ Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Yekan;
    src: url('/fonts/BYekan+.ttf') format('truetype');
}
@font-face {
    font-family: Elham;
    src: url('/fonts/elham.ttf') format('truetype');
}
.chart-container {
  padding-top: 5px;
  padding-bottom: 35px;
  direction: ltr;
}
.chart-line {
}
.chart-doughnut {
}
.zoomControls {
  text-align: left;
}
#_AnnotationChart_legendContainer {
  text-align: right;
  direction: rtl;
}
body {
  font-family: Yekan, Elham, Tahoma, Arial;
}
kbd {
  font-family: WWDigital;
}
.title{
  font-family: Yekan;
  font-size: large;
}
.grid {
  height: 400px;
  font-size: smaller;
}
.anchor-grid {
  margin: 0.2em
}
.label {
  font-weight: normal
}
