@font-face {
    font-family: WWDigital;
    src: url('/fonts/wwDigital.ttf') format('truetype');
}
@font-face {
    font-family: Koodak;
    src: url('/fonts/BKOODB.ttf') format('truetype');
}
@font-face {
    font-family: Yekan;
    src: url('/fonts/BYekan.ttf') format('truetype');
}
@font-face {
    font-family: Elham;
    src: url('/fonts/Elham.ttf') format('truetype');
}
.chart-container {
  padding-top: 5px;
  padding-bottom: 35px;
  direction: rtl;
}
.zoomControls {
  text-align: left;
}
#_AnnotationChart_legendContainer {
  text-align: right;
  direction: rtl;
}
body {
  font-family: Elham, Koodak, Yekan, Tahoma, Arial;
}
kbd {
  font-family: WWDigital;
}
.title{
  font-family: Elham;
  font-size: large;
}
.grid {
  height: 400px;
  font-size: smaller;
}
