.row.align-items-start.ml-1
  .col
  a.col-3.with-border.text-center(ng-controller='DoughnutCtrl', href='#')
    canvas.chart.chart-doughnut(chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
  a.col-3.with-border.text-center(ng-controller='DoughnutCtrl', href='#')
    canvas.chart.chart-doughnut(chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
  a.col-3.with-border.text-center(ng-controller='DoughnutCtrl', href='#')
    canvas.chart.chart-doughnut(chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
