.col-lg-3.col-md-6
  .card
    .card-header(class= pc[n])
      .row
        .col-xs-7.text-right
          div= fa[tx[n]]
        .col-xs-5.text-left
          i.fa(class= fc[n])
    .card-block
      .huge.time= cn[n++]
    a(href='#')
      .card-footer
        span.pull-right= fa['view details']
        span.pull-left
          i.fa.fa-arrow-circle-left
        .clearfix
