form.card.form.mb-3
  .card-header.card-primary.text-center= fa[menuitem]['header']
  .card-block
    if menuitem === 'User'
      include primary-block-User.pug
    if menuitem === 'ReportClass'
      include primary-block-ReportClass.pug
    if menuitem === 'VariableCat_1'
      include primary-block-VariableCat_1.pug
    if menuitem === 'VariableCat_2'
      include primary-block-VariableCat_2.pug
    if menuitem === 'VariableCat_3'
      include primary-block-VariableCat_3.pug
    if menuitem === 'VariableDef'
      include primary-block-VariableDef.pug
  .card-footer
    .d-flex.flex-row-reverse
      .pr-2
        button.btn.btn-success(type='submit')= fa['submit']
          i.fa.fa-check.fa-fw
      .pr-2
        button.btn.btn-warning(type='submit')= fa['create new']
          i.fa.fa-plus.fa-fw
      .pr-2
        button.btn.btn-danger(type='submit')= fa['remove']
          i.fa.fa-remove.fa-fw
