.row
  div(ng-controller=`VariableCat_2Controller`, ng-init="query()", style="font-family: Yekan;")
    div(ng-repeat='item in data')
      .row(ng-if='filter(item)')
        i.fa.fa-check(ng-show='isSelected(item.id)')
        span.badge.badge-pill.badge-info.mx-1
          | {{item.code}}
        | {{item.caption}}
