.card.with-border
  #headingOne.card-header.card-outline-primary
    button.btn.btn-block.btn-outline-primary.mb-0(href='', data-toggle="collapse", data-target=`#${menuitem}`, data-parent='#accordion', aria-expanded='true', aria-controls=`${menuitem}`)
      = fa[menuitem]['header']
      i.fa.fa-fw.fa-caret-down
  .collapse(role='tabpanel', aria-labelledby='headingOne', id= `${menuitem}`)
    .card-block.with-nav-block(ng-controller=`${menuitem}Controller`, ng-init="query()")
      div(ng-repeat='item in data.filter(filter)')
        a(href=``, ng-click='selectitem(item.id)')
          i.fa.fa-check(ng-show='isSelected(item.id)')
          span.badge.badge-pill.badge-info.mx-1
            | {{item.code || item.account}}
          | {{item.caption  || item.fname + ' ' + item.lname}}
