// Bootstrap Core CSS
link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
// Bootstrap Core CSS RTL
link(href='/bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css', rel='stylesheet')
// Custom CSS
link(href='/css/site.css', rel='stylesheet')
link(href='/css/sb-admin.css', rel='stylesheet')
link(href='/css/sb-admin-rtl.css', rel='stylesheet')
// Font awesome
link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
// jQuery
script(src='/bower_components/jquery/dist/jquery.min.js')
// Bootstrap Core JavaScript
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
// Angular
script(src='/bower_components/angular/angular.min.js')
script(src='/bower_components/angular-route/angular-route.min.js')
